@import url("reset.css");

html {
    padding: 0;
    margin: 0;
}

body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    align-items: stretch;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 0 1.6rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0 0 1.6rem;
}

a {
    color: #0056b3;
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease-in-out;
}

a:hover {
    color: #002348;
    border-bottom: 2px solid #002348;
}

hr {
    margin: 3.2rem 1.6rem;
    color: #555555;
    border-color: #555555;
}

.module {
    margin: 1.6rem 0 1.6rem;
}

.module:nth-child(1) {
    margin: 0 0 1.6rem;
}


.header {
    background-color: #64bcda;
    border-bottom: 8px solid #000000;
    margin-bottom: 3.2rem;
}

.header_logo {
    padding: 1.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo img {
    width: 100%;
    max-width: 420px;
}


.header_pub-info {
    width: 100%;
    padding: 0 1.6rem;
    margin: 0 0 1.6rem;
    text-transform: uppercase;

    
    display: block;
    text-align: center;
}


.header_pub-info {
  width: 100%;
  padding: 0 1.6rem;
  margin: 0 0 1.6rem;
  text-transform: uppercase;
  display: block;
  text-align: center;
}


@media (min-width: 800px) {
  .header_pub-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}





